<acc-accounts title="Welcome" [showOverlay]="isLoading">
  <div left-content-action class="left-content-action">
    <button
      com-outline-icon
      class="stretch"
      (click)="onEmail()"
      [label]="email"
    >
      <mat-icon left-icon fontIcon="account_circle" />
      <mat-icon right-icon fontIcon="arrow_drop_down" />
    </button>
  </div>

  <div right-content-input class="password-container">
    <div class="input-container">
      <input
        com-input
        #inputPassword
        autocomplete="current-password"
        class="eye-icon-none"
        (input)="password = inputPassword.nativeElement.value"
        [isError]="errorMessage ? true : false"
        placeholder="Enter your password"
        [type]="showPassword ? 'text' : 'password'"
        [value]="password"
      />
      @if (errorMessage) {
        <com-error>{{ errorMessage }}</com-error>
      }
    </div>
    <com-checkbox label="Show Password" [(isChecked)]="showPassword" />
  </div>

  @if (isOnTryAnotherWayEnabled) {
    <button com-basic right-content-action>
      <span class="com-button">Try another way</span>
    </button>
  }

  @if (isOnNextEnabled) {
    <button com-flat right-content-action (click)="onNext()">
      <span class="com-button">Next</span>
    </button>
  }
</acc-accounts>
