.left-content-action {
  // Layout
  display: flex;
  padding-right: calc(88/1440 * 100vw);
  flex-direction: column;
  align-self: stretch;

  @media screen and (max-width: 768px) {
    // Layout
    padding-right: initial;
  }
}

.password-container {
  // Layout
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-container {
  // Layout
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-self: stretch;
}

.eye-icon-none {
  &::-ms-reveal {
    // Style
    display: none;
  }
}