<acc-accounts title="Welcome">
  <div left-content-action class="left-content-action">
    <button
      com-outline-icon
      class="stretch"
      (click)="onEmail()"
      [label]="email"
    >
      <mat-icon left-icon fontIcon="account_circle" />
      <mat-icon right-icon fontIcon="arrow_drop_down" />
    </button>
  </div>

  <div right-content-input class="password">
    <div class="input">
      <input
        com-input
        #inputPassword
        autocomplete="current-password"
        [errorMessage]="errorMessage"
        (input)="password = inputPassword.nativeElement.value"
        placeholder="Enter your password"
        [type]="showPassword ? 'text' : 'password'"
      />
      @if (errorMessage) {
        <com-error>{{ errorMessage }}</com-error>
      }
    </div>
    <com-checkbox label="Show Password" [(isChecked)]="showPassword" />
  </div>
</acc-accounts>
