<acc-accounts
  title="Sign In"
  description="Use your Google Account"
  [showOverlay]="isLoading"
>
  <com-input-text
    #inputEmail
    placeholder="Email"
    [(value)]="email"
    [errorMessage]="errorMessage"
    right-content-input
  />

  @if (isCreateAccountEnabled) {
    <button com-basic (click)="onCreateAccount()" right-content-action>
      <span class="com-button">Create account</span>
    </button>
  }

  @if (isChallengePwdEnabled) {
    <button
      com-flat
      (click)="onNext()"
      [disabled]="isLoading"
      right-content-action
    >
      <span class="com-button">Next</span>
    </button>
  }
</acc-accounts>
