<acc-accounts
  [title]="hostLanguage | translate: translations['title']"
  [description]="hostLanguage | translate: translations['description']"
  [showOverlay]="isLoading"
>
  <div right-content-input class="input">
    <input
      com-input
      #inputEmail
      autocomplete="username"
      (input)="email = inputEmail.nativeElement.value"
      [value]="email"
      [isError]="errorMessage ? true : false"
      placeholder="Email"
      type="email"
    />
    @if (errorMessage) {
      <com-error>{{ errorMessage }}</com-error>
    }
  </div>

  @if (isCreateAccountEnabled) {
    <a com-basic right-content-action routerLink="/lifecycle/steps/signup">
      <span class="com-button">{{
        hostLanguage | translate: translations["Create account"]
      }}</span>
    </a>
  }

  @if (isChallengePwdEnabled) {
    <button
      com-flat
      right-content-action
      (click)="onNext()"
      [disabled]="isLoading"
    >
      <span class="com-button">{{
        hostLanguage | translate: translations["Next"]
      }}</span>
    </button>
  }
</acc-accounts>
