:host {
  // Layout
  display: inline-flex;
  padding: 16px 24px;

  // Style
  border-radius: 16px;
  border: none;
  background: #0957d0;

  // Typography
  color: #fff;
  text-decoration: none;

  &:not(:disabled) {
    &:hover {
      // Style
      cursor: pointer;
      background: #154aa8;
    }

    &:active {
      background: #19428e;
    }
  }
}
