:host {
  // Layout
  display: flex;
  padding: 16px;
  align-self: stretch;

  // Style
  border-radius: 8px;
  border: 1px solid #000;
  background: #FFF;

  // fix: when input is focused, there was a extra line
  outline: none;

  // fix: due to the border line-width (for desktop)
  margin: 1.5px;

  @media screen and (max-width: 768px) {
    // fix: due to the border line-width (for mobile)
    margin: 1px;
  }

  &:focus {
    // Style
    border: 2px solid #0052D0;

    // fix: due to the border line-width
    margin: 0px;
  }
}

:host(.error) {
  // Style
  border: 1px solid #BC5C5A;

  &:focus {
    // Style
    border: 2px solid #BC5C5A;

    // fix: due to the border line-width
    margin: 0px;
  }
}