:host {
  // Layout
  display: flex;
  padding: 16px;

  // Style
  border: none;
  background: none;

  // Typography
  color: #0957d0;
  text-decoration: none;

  &:not(:disabled) {
    &:hover {
      // Style
      cursor: pointer;
      border-radius: 16px;
      background: #f7f8fe;
    }

    &:active {
      border-radius: 16px;
      background: #ccd8f5;
    }
  }
}
